
.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5),
                0 3px 10px 0 rgba(0,0,0,0.39);
    
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 1%;
}


.completed {
    text-decoration: line-through;
}
